/*--------header-------*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  height: 10vh;
  width: 100%;
  position: fixed;
  background-color: #16181b;
  top: 0;
  z-index: 999;
}

/*--------header_menu-------*/
.header_menu {
  display: none;
}

/*--------header_logo-------*/
.header__logo {
  width: 30px;
  height: 30px;
  object-fit: contain;
  display: block;
}
/*--------form-------*/
form {
  flex: 0.6;
  display: flex;
  padding: 0.1rem;
  margin: 0 1rem;
  border-radius: 3px;
  border: 1.2px solid;
  background-color: #121417;
}

/*--------form input-------*/
form input {
  width: 100%;
  border: none;
  font-weight: 500;
  background: transparent;
  padding: 0.3rem;
  color: #b1bdb4;
}

form input :focus {
  outline: none;
}
/*--------form button-------*/
form button {
  padding: 0 1.25rem;
  color: #b1bdb4;
  background: transparent;
  border: none;
}

form button :focus {
  border: none;
}

/*--------header_icons-------*/
.header__icons {
  flex: 0.15;
  display: flex;
  color: #fff;
  justify-content: space-around;
  align-items: center;
}

/*--------header_icons button-------*/
.header__icons img {
  border-radius: 50%;
  width: 40px;
  object-fit: contain;
  margin-left: 5px;
}

/*--------mobile responsive-------*/
@media only screen and (max-width: 520px) {
  .header {
    padding: 1rem;
  }
  form {
    flex: 1;
  }

  .header_menu {
    display: block;
    color: #fff;
  }

  .header__logo {
    display: none;
  }
  .header__icons > *:not(img) {
    display: none;
  }
}
